[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mypy = "*"
pycodestyle = "*"
pytest = "*"
pytest-asyncio = "*"
sanic-session = "*"
ipdb = "*"

[packages]
sanic-oauth = {editable = true,path = "."}

[requires]
python_version = "3.7"
